<div class = "community-header">
 <div class = "community-name">
  <p><%= @team.name %>ファンコミュニティ</p> 
  <h1><%= @team.name %></h1>
 </div>
</div>

<div class = "community-container">
  <div class = "left-content">
    <div class = "team-info">
      <p><%= image_tag @team.image.url %></p>
      <p><%= @team.name %></p>
    </div>
  </div>
</div>